<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand mr-15 pointer snow" (click)="navigate('/')">
    <b>Custom Menu</b>
    <!--<img src="assets/imgs/logo.png" alt="Custom Menu" style="width: auto; max-height: 30px;">-->
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-item facebook">-->
        <!--<a class="nav-link" [href]="facebook"><i class="fab fa-facebook fa-fw fa-lg fb-blue-hover"></i></a>-->
      <!--</li>-->
      <!--<li class="nav-item twitter">-->
        <!--<a class="nav-link" [href]="twitter"><i class="fab fa-twitter fa-fw fa-lg"></i></a>-->
      <!--</li>-->
      <!--<li class="nav-item youtube">-->
        <!--<a class="nav-link" [href]="youtube"><i class="fab fa-youtube fa-fw fa-lg"></i></a>-->
      <!--</li>-->
      <!--<li class="nav-item instagram">-->
        <!--<a class="nav-link" [href]="instagram"><i class="fab fa-instagram fa-fw fa-lg"></i></a>-->
      <!--</li>-->
    </ul>
    <ul class="navbar-nav mr-auto" *ngIf="showLinks()">
      <!--<li class="nav-item" routerLinkActive="active">-->
      <!--<a class="nav-link" (click)="navigate('/home')">Home <span class="sr-only">(current)</span></a>-->
      <!--</li>-->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" (click)="navigate('/home')">Home</a>
      </li>
    </ul>

    <ul class="navbar-nav flex-row mr-lg-0">
      <li class="nav-item" *ngIf="isLogedIn()" routerLinkActive="active">
        <a (click)="navigate('/settings')" class="nav-link settings" title="settings"><i class="fa fa-cog fa-fw fa-lg"></i></a>
      </li>
      <li class="nav-item" *ngIf="isLogedIn()" routerLinkActive="active">
        <a (click)="navigate('/account')" class="nav-link">
        <span class="circle p-1">
          <img  *ngIf="user?.photoURL" [src]="user?.photoURL" class="img-fluid" alt="User Photo">
          <i class="fa fa-fw fa-lg fa-user-circle" *ngIf="!user?.photoURL"></i>
        </span>{{user.username}}
        </a>
      </li>
      <li class="nav-item" *ngIf="isLogedIn()">
        <a (click)="logout()" class="nav-link pointer" title="signin">Logout</a>
      </li>
      <li class="nav-item" *ngIf="!isLogedIn() && !atSigninPage()">
        <a (click)="navigate('/login')" class="nav-link pull-left" title="signin">Login</a>
      </li>
      <li class="nav-item" *ngIf="!isLogedIn() && (showLinks() || atSigninPage())">
        <a (click)="navigate('/signup')" class="nav-link pull-right" title="Create New Account">Create New Account</a>
      </li>
    </ul>
  </div>
  <button class="navbar-toggler ml-lg-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
