/* You can add global styles to this file, and also import other style files */
.main {
  padding-top: 57px;
}
.pointer:hover {
  cursor: pointer;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
