/** MENU REGION **/
.menu-region{
  background-color: #ddd;
}
.menu-section-name {
  display: inline;
}
.menu-description {
  text-align: justify;
  text-align-last: center;
}

.food-region .col-6 {
  padding: .1rem;
}
.food-region .card {
  min-height: 100%;
}
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.card-action {
  display: inline-block;
  opacity:.93;
}
.card-action:hover {
  opacity:1;
}
/** CART REGION **/
.cart-region {
  display: none;
}
.cart-region.active {
  width: 20%;
  position: sticky;
  z-index: 1000;
  background-color: black;
  float: right;
  display: inline-block;
}
